#root {
  padding: 2rem;
}

.flex,
.flex-wrap {
  display: flex;
  gap: 2rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.centered {
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.winner {
  align-self: center;
  font-size: 3rem;
}
