:root {
    --sidebar-background-color: #1992D4;
    --header-background-color: #FFFFFF;
    --content-background-color: #E3E8F0;
    --accent-color: #FACC15;
    --card-text-color-dark: #000000;
    --card-text-color-light: #636363;
    --card-box-shadow-color: rgba(0, 0, 0, 0.1);
    --card-gap: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.sidebar {
    background-color: var(--sidebar-background-color);
    color: var(--header-background-color);
    grid-row: 1 / -1;
    grid-column: 1;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sidebar .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
    padding: 1rem;
}

.sidebar .logo:hover {
    cursor: pointer;
}

.sidebar .logo img {
    height: 3rem;
}

.sidebar .logo p {
    font-size: 1.9rem;
    font-weight: 500;
}

.sidebar ul {
    list-style: none;
    font-size: 1.5rem;
    font-weight: 500;
}

.sidebar ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 0.7rem 2rem;
}

.sidebar ul li:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.sidebar ul .icon {
    height: 1.5rem;
}

.header {
    background-color: var(--header-background-color);
    grid-row: 1;
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    gap: var(--card-gap);
    padding: 1rem 3rem;
    box-shadow: 0 5px 5px var(--card-box-shadow-color);
    z-index: 1;
    font-weight: bold;
}

.header .search {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5ch;
}

.header .search .icon {
    position: relative;
    top: 0.1rem; /* slightly adjust position of magnifying glass */
}

.content .icon,
.header .icon {
    height: 1.5rem;
    filter: none; /* override img.icon selector */
}

.header .search input[type="search"] {
    flex: 1 0 auto;
    appearance: none;
    font: inherit;
    background-color: var(--content-background-color);
    --height: 2rem;
    height: var(--height);
    border-radius: calc(0.5 * var(--height));
    border: none;
    padding: 0 1rem;
}

.header .search input[type="search"]:focus {
    outline: none;
    border: 1px solid black;
}

.header .notifications {
    grid-row: 1;
    grid-column: 2;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.header .notifications > *:hover {
    cursor: pointer;
}

.header .notifications .profile-image {
    background-color: var(--accent-color);
    --radius: 1.2rem;
    height: calc(2 * var(--radius));
    width: calc(2 * var(--radius));
    border-radius: var(--radius);
}

.header .welcome-banner {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header .welcome-banner .profile-image {
    flex: 0 0 auto;
    --radius: 1.9rem;
    height: calc(2 * var(--radius));
    width: calc(2 * var(--radius));
    background-color: var(--accent-color);
    border-radius: var(--radius);
}

.header .welcome-banner .message .greeting {
    font-size: 0.8rem;
}

.header .welcome-banner .message .username {
    font-size: 1.5rem;
}

.header .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .actions ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.header .actions .button {
    background-color: var(--sidebar-background-color);
    color: var(--header-background-color);
    --height: 2.5rem;
    height: var(--height);
    width: 11ch;
    border-radius: calc(0.5 * var(--height));
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .actions .button:hover {
    filter: brightness(110%);
    cursor: pointer;
}

.content {
    background-color: var(--content-background-color);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: var(--card-gap);
    padding: 0 1rem;
    padding-bottom: 2rem;
}

.content h2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.content > * {
    display: flex;
    flex-direction: column;
}

.content .projects {
    grid-row: 1 / -1;
    grid-column: 1;
}

.content .announcements {
    grid-row: 1;
    grid-column: 2;
}

.content .trending {
    grid-row: 2;
    grid-column: 2;
}

.content .card {
    background-color: var(--header-background-color);
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px var(--card-box-shadow-color);
}

.content .projects .card-container {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--card-gap);
}

.content .projects .card {
    background-color: none;
    --accent-color-length: 7px;
    background: linear-gradient(90deg,
            var(--accent-color) 0 var(--accent-color-length),
            var(--header-background-color) var(--accent-color-length) 100%);
    padding: 1rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
}

.content .projects .card h3 {
    color: var(--card-text-color-dark);
    font-size: 1rem;
    margin-bottom: 1rem;
}

.content .projects .card p {
    color: var(--card-text-color-light);
}

.content .projects .card .project-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;
}

.content .projects .card .project-actions .icon {
    border-radius: 5px;
    padding: 0.5rem;
}

.content .projects .card .project-actions .icon:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.content .announcements .card {
    flex: 1 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content .announcements .announcement-card h3 {
    color: var(--card-text-color-dark);
    font-weight: 600;
}

.content .announcements .announcement-card p {
    color: var(--card-text-color-light);
    border-bottom: 1px solid lightgrey;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.content .announcements .announcement-card:last-child p {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.content .trending .card {
    flex: 1 0 auto;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-around;
}

.content .trending .trending-project {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.content .trending .trending-project .profile-image {
    background-color: var(--accent-color);
    --radius: 1.4rem;
    height: calc(2 * var(--radius));
    width: calc(2 * var(--radius));
    border-radius: var(--radius);
}

.content .trending .trending-project .user-tag {
    color: var(--card-text-color-dark);
    font-weight: 500;
    margin-bottom: 3px;
}

.content .trending .trending-project .project-name {
    color: var(--card-text-color-light);
    font-size: 0.9rem;
}

img.icon {
    /* Convert black svg fill to white */
    filter: invert(100%);
}