@font-face {
    font-family: "Norse Bold";
    src: url("./fonts/Norse-Bold.otf");
}

:root {
    --odin-banner-height: clamp(6rem, 15vh, 8rem);
    --odin-banner-margin-top: 22vh;
    --odin-banner-font-size: calc(0.8 * var(--odin-banner-height));
    --odin-banner-logo-height: calc(0.9 * var(--odin-banner-height));
    --content-background-white: #F9FAFB;
    --image-attribution-font-color: rgba(255, 255, 255, 0.8);
    --content-padding-left: 2.5rem;
    --content-font-stack: "Roboto", sans-serif;
    --content-font-size: 1.2rem;
    --content-font-weight: 500;
    --content-box-shadow: 0 4px 4px lightgray;
    --submit-button-background-color: #596D48;
    --submit-button-background-color-on-hover: #6D815B;
    --submit-button-background-color-on-active: #495C38;
    --input-border-color-on-focus: #1D4ED8;
    --input-border-color-on-invalid: #B91C1C;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.logo-container {
    background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 40vw;
    min-width: 300px;
}

.logo-container .odin-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    margin-top: var(--odin-banner-margin-top);
    height: var(--odin-banner-height);
}

.logo-container h1 {
    font-family: "Norse Bold";
    font-size: var(--odin-banner-font-size);
    text-align: center;
}

.logo-container .odin-logo {
    height: var(--odin-banner-logo-height);
}

.logo-container .image-attribution {
    margin-top: auto;
    margin-bottom: 1rem;
    color: var(--image-attribution-font-color);
    font-family: var(--content-font-stack);
    font-size: 0.7rem;
    text-align: center;
}

.image-attribution a,
.image-attribution a:visited {
    color: var(--image-attribution-font-color);
}

.content-container {
    background-color: var(--content-background-white);
    height: 100vh;
    width: 60vw;
    min-width: 600px;
    font-family: var(--content-font-stack);
    font-size: var(--content-font-size);
    font-weight: var(--content-font-weight);
}

.content-container .call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(var(--odin-banner-margin-top) + var(--odin-banner-height));
}

.call-to-action .text-content {
    margin: 0 var(--content-padding-left);
    min-width: 30ch;
    max-width: 50ch;
}

.call-to-action .text-content > p:last-child {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.content-container .input-card {
    background-color: white;
    box-shadow: var(--content-box-shadow);
    padding: 1rem var(--content-padding-left);
}

.input-card > * {
    margin-bottom: 1rem;
}

.input-card .input-row {
    display: flex;
    gap: calc(1.5 * var(--content-padding-left));
}

.input-card .input-stack {
    position: relative; /* used only by password input */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
}


.input-card label,
.input-card input,
form > button[type="submit"] {
    appearance: none;
    font: inherit;
}

.input-card label {
    color: #222;
    font-size: 0.6rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.input-card input {
    color: black;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 5px 7px;
    border: 1px solid #EAEAEA;
    border-radius: 3px;
    width: 30ch;
}

.input-card input:focus {
    outline: none; /* remove default focus behavior */
    border: 1px solid var(--input-border-color-on-focus);
    box-shadow: var(--content-box-shadow);
}

/* only display as invalid if element has been interacted with */
/* note: 'touched' class is added by JavaScript */
.input-card input.touched.invalid,
.input-card input.touched:invalid {
    border: 1px solid var(--input-border-color-on-invalid);
}

#passwords-do-not-match {
    position: absolute;
    bottom: -0.9rem;
    font-size: 0.6rem;
    color: red;
}

form > button[type="submit"] {
    background-color: var(--submit-button-background-color);
    color: white;
    font-size: 0.9rem;
    padding: 0.6rem 5ch;
    border: none;
    border-radius: 5px;
    margin: 2rem var(--content-padding-left);
    box-shadow: var(--content-box-shadow);
}

form > button[type="submit"]:hover {
    background-color: var(--submit-button-background-color-on-hover);
    cursor: pointer;
}

form > button[type="submit"]:active {
    background-color: var(--submit-button-background-color-on-active);
}

.content-container > p {
    padding-left: var(--content-padding-left);
    font-size: 0.9rem;
}

.content-container > p a {
    text-decoration: none;
    color: var(--submit-button-background-color);
    font-weight: bold;
}

.content-container > p a:hover {
    color: var(--submit-button-background-color-on-hover);
}

.content-container > p a:active {
    color: var(--submit-button-background-color-on-active);
}
