.todo-list {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.todo-list .is-empty {
  text-align: center;
}

/* widths do not need to add to 100% */
.todo-list table col.status {
  width: 5%;
}

.todo-list table col.title {
  width: 50%;
}

.todo-list table col.due-date {
  width: 15%;
}

.todo-list table col.priority {
  width: 10%;
}

.todo-list table th,
.todo-list table td {
  padding: 5px;
}

.todo-list table thead tr {
  text-align: left;
}

.todo-list table tbody {
  background-color: rgba(255, 255, 255, 0.03);
}

.todo-list table tbody * {
  cursor: pointer;
}

.todo-list table .todo-status {
  text-align: center;
}

.todo-list table tr.active {
  background-color: rgba(255, 255, 255, 0.1);
}

@media (prefers-color-scheme: light) {
  .todo-list table tbody {
    background-color: rgba(0, 0, 0, 0.03);
  }

  .todo-list table tr.active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
