select.todo-priority {
  font: inherit;
  background-color: transparent;
  color: inherit;
  border: none;
  width: 100%;
}

select.todo-priority option {
  color: black;
}

input.todo-due-date {
  appearance: none;
  font: inherit;
  background-color: transparent;
  color: inherit;
  border: none;
  width: 100%;
}
