#root {
  width: clamp(300px, 90%, 1280px);
  margin: 0 auto;
  padding: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.library {
  display: flex;
  flex-direction: column;
}

.library h1 {
  margin-bottom: 2rem;
}

.library .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.library button[name="add-book"] {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
}

.book {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

.book:hover {
  background-color: rgba(255, 255, 255, 0.01);
  cursor: pointer;
}

.book .author,
.book p {
  color: rgba(255, 255, 255, 0.5);
}

.book p:last-of-type {
  margin-bottom: 1rem;
}

.book button[name="delete"] {
  margin-top: auto;
}
