header > * {
  margin: 0;
  padding: 0;
}

header.header {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: var(--background-color);
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

header .active-project {
  font-size: 2rem;
  flex: 1 0;
}

header .active-project input[type="text"] {
  font: inherit;
  background-color: transparent;
  color: inherit;
  appearance: none;
  border: none;
  width: 100%;
  line-height: normal;
  padding: 8px;
}

header .active-project input[type="text"]:focus {
  outline: none;
}

header .active-project:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

header nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (prefers-color-scheme: light) {
  header .active-project:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  header.header {
    box-shadow: 0 3px 5px -4px rgba(0, 0, 0, 0.5);
  }
}
