header > * {
  margin: 0;
  padding: 0;
}

header.header {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1rem;
}

header .active-project {
  font-size: 2rem;
  flex: 1 0;
}

header nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
